body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0;
}

 .tabuada-bloco { display: inline-block; margin: 10px; border: 1px solid #ccc; vertical-align: top;}
 
button {
    background-color: blue;
    color: white;
}

.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.box {
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 12px;
    padding: 20px;
}